* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: serif;
}

main {
  background-color: black;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.headerpage {
  background-color: black;
  position: sticky;
  top: 0;
}